<a href="https://colab.research.google.com/github/allieridgway/UVA_DS/blob/main/CS5012_9_7Mini_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#9.7 Mini-Project: SQLite DB Creation

**Allie Ridgway (ysx4gm)**

**John Hazelton (jch5nb)**

*Due: August 2, 2021*

Directions: Use Piazza to form into groups of 2–3 and complete the tasks below. It will be helpful for you to meet with your small groups live, via Zoom, or another virtual method.

1. Review the resources in 9.4.
Note: We highly recommend doing everything on Colab or Jupiter Notebook, as this is the required submitted format.
2. Select a domain you find interesting and could benefit from a database.
3. Create an ER diagram and Schema for the DB.
4. Create a small database (minimum 3–4 tables) for the domain (writing python scripts).
 - Note: Creating a DB is a requirement; you cannot use an existing DB!
5. Populate your tables with data either from an existing dataset or your own data, using python scripts.
6. Come up with 8-10 questions to query against your database (similar to Sailors or Bank questions). Write these questions out.
7. Find solutions to your questions using SQL queries. Write out these solutions and the produced output.
8. Create meaningful visualizations for 4-5 of your query outputs, using whatever Python library you prefer.
9. Check and report your solutions using the Jupiter Notebook or Colab application. Submit the complete .pynb file.
10. If time permits, once you are done submitting (see below), find another group, show them your tables and questions, and see if they can find the SQL solutions to your questions.

#SUBMISSION INSTRUCTIONS
Submit a Jupiter Notebook file (.pnyb) with the following items:
- The names and computing IDs at the top of the notebook
- The description of the DB, schema, and ER diagram
- The commands (Python scripts) to create and populate the tables
- The questions you found interesting responding to and associated SQL queries (as Python scripts), with the corresponding output
- The Python scripts and visualizations of the output of the selected questions

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('mytest.db')

In [ ]:
cursor = conn.cursor()

In [ ]:
sql = '''create table Exercise(
    ExerciseID int PRIMARY KEY,
    ExerciseName text
    )'''

In [ ]:

 sql2 = '''create table Workout(
    WorkoutID int PRIMARY KEY,
    Workout Name text,
    Length Estimated int,
    ExerciseID int,
    FOREIGN KEY (ExerciseID) REFERENCES Exercise (ExerciseID)
    )'''

In [ ]:
print("Let's input some exercise data!")

while True:
    ExerciseID = input('ExerciseID: ')
    ExerciseName = input('Exercise Name: ')
    sql = '''insert into Exercise
             (ExerciseID, ExerciseName)
             values
             (:ex_id, :ex_name)'''
             # These values are "named parameters" (like place holders)
             # Tells the SQLite library that something will be substitued here

    # Use the cursor to execute the statement
    # Here, a dictionary has been added of the named parameters and the items
    # to be inserted.
    cursor.execute(sql, {'ex_id':ExerciseID, 'ex_name':ExerciseName})

    # Commit. Telling SQLite to save the new data. The data would be lost otherwise.
    conn.commit()

    # See if the user wants to add another student's information into the database...
    cont = input("Another student? ")
    # If no, break (break out of the while loop) and close the connection.
    # Otherwise, go to the beginning of the while loop to add another student
    if cont[0].lower() == 'n':
        break

Let's input some exercise data!
ExerciseID: 123
Exercise Name: pushup
Another student? n

In [ ]:
cursor.execute(sql)

In [ ]:
"""
Created on Sat Jul 24 11:13:47 2021
John Hazelton
jch5nb
Allie Ridgway

"""

import sqlite3
from sqlite3 import Error


#create connection to SQLite DB:
def create_connection(db_file):

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn



#Create Table Fuction:
def create_table(conn, create_table_sql):
    #conn: connection object
    #create_table_sql: CREATE TABLE statement
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


#Main method:
def main():
    database = r"C:\Users\johnh\OneDrive\Documents\Professional\UVA MS Data Science\CS 5012\M9\workoutlog.db"

    sql_create_exercises_table = "CREATE TABLE IF NOT EXISTS exercises(exercise_id integer PRIMARY KEY, name text NOT NULL, muscle_group text);"

In [ ]:
#Create DB connection:
conn = create_connection(database)

#Create actual DB tables:
if conn is not None:

    #exercises table
    create_table(conn, sql_create_exercises_table)

else:
    print("Error: can't create DB connection")



#Create our database:
if __name__ == '__main__':
    main()
#    create_connection(r"C:\Users\johnh\OneDrive\Documents\Professional\UVA MS Data Science\CS 5012\M9\workoutlog.db")

NameError: ignored

In [ ]:
#SQL into Pandas DB
cursor.execute("SELECT * FROM students ")
student_data=cursor.fetchall()
student_info=pd.DataFrame(student_data,columns=['Name','Username','ID','Grade'])

In [ ]:
import plotly.express as px

#Sample for Later
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")
fig.show()

fig = px.histogram(df, x="total_bill", y="tip", color="sex", marginal="rug", hover_data=df.columns)
fig.show()